<h1 class="title is-1">The Basics</h1>
<div class="content">
  <ol>
    <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
    <li>Output them beneath each other in the AppComponent</li>
    <li>Output a warning or success message in the Components</li>
    <li>Style the Components appropriately (maybe some red/ green text?)</li>
  </ol>
  <p>Use external or internal templates and styles!</p>
  <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
</div>
<hr>
<div class="columns">
  <div class="column">
    <app-servers></app-servers>
  </div>
</div>

<div class="columns">
  <div class="column">
    <app-warning-alert></app-warning-alert>
  </div>
</div>

<div class="columns">
  <div class="column">
    <app-success-alert></app-success-alert>
  </div>
</div>
