<div class="columns">

  <div class="column">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Name</label>
      </div>

      <p class="control">
        <input class="input" type="text" placeholder="Ingredient name">
      </p>
    </div>
  </div>

  <div class="column">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Amount</label>
      </div>

      <p class="control">
        <input class="input" type="number">
      </p>
    </div>
  </div>

  <div class="column is-half"></div>

</div>

<div class="columns">
  <div class="column">
    <a href="#" class="button is-success">Add</a>
    <a href="#" class="button is-danger">Delete</a>
    <a href="#" class="button is-warning">Clear</a>
  </div>
</div>
