<div class="columns">
  <div class="column">
    <a class="button is-info">New recipe</a>
  </div>
</div>

<hr>

<div class="columns">
  <div class="column">
    <a href="#" *ngFor="let recipe of recipes" class="is-clearfix">
      <div class="card">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <p class="title is-4">{{ recipe.name }}</p>
              <p class="subtitle is-6">{{ recipe.description }}</p>
            </div>

            <div class="media-right">
              <figure class="image is-64x64">
                <img [src]="recipe.imagePath" alt="Image">
              </figure>
            </div>

          </div>
        </div>
      </div>
    </a>

    <app-recipe-item></app-recipe-item>
  </div>
</div>
